/* div {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black;
    background-color: aqua;
}
li{
    list-style-type: none;
    display: inline;
} */
 /* .navbar{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
 }
 a{
    text-decoration: none;
    color: red;
 }
li{
    list-style-type: none;
}
.outer{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: darkorchid;
    align-self: flex-start;
} */
/* div {
    height: 50px;
    width: 50px;
    background-color: pink;
}
@media (width : 600px){
    div{
        background-color: red;
    }
}
@media (min-width : 600px){
    div{
        background-color: green;
    }
}
@media (max-width : 700px){
    div{
        background-color: yellow;
    }
}
@media (min-width : 200px)and(max-width : 300px){
    div{
        background-color: blue;
    }
} */
 div {
    height: 200px;
    width: 200px;
    background-color:chocolate ;
}
@media (max-width : 300px){
    div{
        background-color: green;
    }
}
@media (min-width : 300px) and (max-width : 400px) {
    div{
        background-color: pink
    }
}
@media (min-width : 400px) and (max-width : 600px)  {
    div{
        background-color: red;
    }
}
@media (min-width : 600px) {
    div{
        background-color: blue;
    }
}
